@model IEnumerable<Part>

<table class="table">
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
    </tr>
    @foreach (var part in Model)
    {
        @Html.Partial("PartialPart", part);
    }

</table>
<div class="text-left">
    <input type="button" class="btn btn-info" value="Dodaj cześć" onclick="location.href='@Url.Action("Create", "Part", new { activityId = ViewBag.ActivityId})'" />
</div>