@model IQueryable<Order>

<table class="table">

    @foreach (var order in Model)
    {
        @Html.Partial("PartialOrder", order);
    }

</table>
<div class="text-left">
    <a asp-action="Create" class="btn btn-primary">Dodaj klienta</a>
</div>

