@model IEnumerable<Owner>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var owner in Model)
    {
        @Html.Partial("PartialOwner", owner);
    }

</table>
<div class="text-left">
    <a asp-action="Create" class="btn btn-primary">Dodaj klienta</a>
</div>